{% extends "base.html" %}
{% block title %}Comment list{% endblock title %}
{%block content%}

<div class="jumbotron">
    <h1 style="text-align: center;">Comment List</h1>
    <table class="table">
        <tr>
            <td><strong>Title of topic</strong></td>
            <td><strong>Content</strong></td>
            <td><strong>Created</strong></td>
        </tr>
        {% for comment in seznam %}
        <tr>
            <td>{{ comment.topic_title }}</td>
            <td>{{ comment.content }}</td>
            <td>{{ comment.updated.strftime("%d.%m.%Y at %H:%M") }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{%endblock content%}