{% extends "base.html" %}
{% block title %}Topic Details{% endblock title %}
{%block content%}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title"><h2>{{ topic.title }}</h2></div>
            </div>
            <div class="panel-body">
                <p>{{ topic.content }}</p>
                <hr>
                {%if topic.author_email == user.email() or current_user%}
                        <button class="btn btn-info"><a style="color: green"
                                                        href="/topic/{{ topic.key.id() }}/edit">Edit</a>
                        </button>
                        <button class="btn btn-info"><a style="color: green" href="/topic/{{ topic.key.id() }}/delete">Delete</a>
                        </button>

                        {%endif%}

            </div>
        </div>
        <br>

    </div>
</div>

<hr>

{% for comment in comments %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">{{ comment.author_email }} on {{ comment.created.strftime("%d.%m.%Y at %H:%M")
                    }}</h3>
            </div>

            <div class="panel-body">
                <p>{{ comment.content }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- END COMMENTS -->

<!-- ADD COMMENT -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Add new comment</h3>
            </div>

            <div class="panel-body">
                <form action="/topic/{{topic.key.id()}}/comment/add" method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                    <div class="form-group">
                        <textarea name="comment-text" class="form-control" rows="6" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-success">Submit comment</button>
                </form>
            </div>
        </div>
    </div>
</div> <!-- END ADD COMMENT -->
{%endblock content%}